.nav {
    width: 100%;
    min-height: 80px;
    height: 100%;
    background-color: rgba(217, 216, 216, 0.5);
    display: flex;
    align-items: center;
    box-shadow: rgba(248, 248, 248, 0.35) 0 5px 15px;
}
.ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.ul li a {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(214, 250, 232, 0.29);
    color: white;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 550;
}
.ul li .active {
    background-color: rgba(189, 248, 219, 0.62);
    color: black;
}